@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 60% 98.5%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 263 70% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263 30% 95%;
    --secondary-foreground: 263 70% 30%;
    --muted: 270 30% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 263 30% 95%;
    --accent-foreground: 263 70% 30%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 263 20% 91%;
    --input: 263 20% 91%;
    --ring: 263 70% 50%;
    --radius: 0.875rem;
  }

  .dark {
    --background: 265 50% 5%;
    --foreground: 270 30% 97%;
    --card: 265 40% 9%;
    --card-foreground: 270 30% 97%;
    --popover: 265 40% 9%;
    --popover-foreground: 270 30% 97%;
    --primary: 263 70% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 30% 15%;
    --secondary-foreground: 270 30% 90%;
    --muted: 265 30% 14%;
    --muted-foreground: 263 15% 58%;
    --accent: 265 30% 15%;
    --accent-foreground: 270 30% 90%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 265 25% 16%;
    --input: 265 25% 16%;
    --ring: 263 70% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
